<div class="nav">
    <table class="navbar" style="width:70%">
        <tr>
            <th style="width:10%"><a href="/userimages">Show Images</a></th>
            <th style="width:10%"><a href="/uploadImages">Upload Images</a></th>
            <th style="width:10%"><a href="/userprofile">User Profile</a></th>
            <th style="width:10%"><a href="/chatwindow">Chat Window</a></th>
            <th style="width:10%"><a href="/logout">Logout</a></th>
        </tr>
    </table>
</div>